<section class="overflow-scroll" style="height: 90vh;">
  <ng-container *ngIf="listOrder.length > 0 else noData;">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Hình ảnh</th>
      <th scope="col">Đơn giá</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Ngày đặt</th>
      <th scope="col">Thành tiền</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of listOrder">
        <ng-container *ngFor="let item2 of item.orderItems">
          <tr>
            <td></td>
            <td>{{item2.product.productName}}</td>
            <td>
              <img [src]="item2.product.image" alt="NO" style="width: 80px; height: 80px;">
            </td>
            <td>{{item2.product.price | currency : 'VND'}}</td>
            <td>{{item2.quantity}}</td>
            <td>{{item.status}}</td>
            <td>{{item.createdAt}}</td>
            <td>{{item2.price}}</td>
          </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
  </ng-container>
</section>
<ng-template #noData>
  <div class="alert alert-danger text-center" role="alert">
    Không có sản phẩm nào trong giỏ hàng
  </div>
</ng-template>
