<app-header></app-header>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" aria-label="#nav" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">-------------------------------------</div>
          <a class="nav-link" href="/admin">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Trang chủ
          </a>
          <a class="nav-link" href="/admin/user">
            <div class="sb-nav-link-icon">
              <i class="fas fa-sharp fa-solid fa-table-list"></i>
            </div>
            Quản lý tài khoản
          </a>

          <a class="nav-link" href="/admin/product">
            <div class="sb-nav-link-icon">
              <i class="fa fa-sharp fa-solid fa-bars"></i>
            </div>
            Quản lý sản phẩm
          </a>

          <a class="nav-link" href="/admin/order">
            <div class="sb-nav-link-icon">
              <i class="fa fa-sharp fa-solid fa-chart-simple"></i>
            </div>
            Quản lý đơn hàng
          </a>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        ADMIN
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <router-outlet></router-outlet>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Admin - {{2023}}</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

