<section class="m-auto w-75 d-flex justify-content-center align-items-center wrapper">
  <form (ngSubmit)="onSubmit()">
    <h1>Đăng nhập</h1>
    <ng-container *ngIf="message === ''; else messageDiv">
    </ng-container>
    <div class="input-box">
      <input type="text" id="username" placeholder="Tên đăng nhập" name="username" [(ngModel)]="form.username" required>
    </div>
    <div class="input-box">
      <input type="password" placeholder="*******" name="password" [(ngModel)]="form.password" required>
    </div>
    <div class="remember-forgot">
      <label>
        <input type="checkbox">Nhớ mật khẩu
      </label>
      <a href="#." (click)="false">Quên mật khẩu?</a>
    </div>
    <button type="submit" class="btn">Đăng nhập</button>

    <div class="register-link">
      <p>Chưa có tài khoản?<a href="/register"> Đăng ký</a></p>
    </div>
  </form>
</section>
<ng-template #messageDiv>
  <div class="alert alert-danger" role="alert">
    <strong>{{this.message}}</strong>
  </div>
</ng-template>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  template="<img src='/assets/images/loading.webp' alt=''/>"
  [fullScreen]="true"
>
</ngx-spinner>

